@import "tailwindcss";

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Infinite marquee scroll */
.animate-marquee {
  display: flex;
  width: min-content;
  animation: marquee 25s linear infinite;
  will-change: transform;
}

/* Pause when hovered */
.animate-marquee:hover {
  animation-play-state: paused;
}

/* Responsive animation speed for smaller screens */
@media (max-width: 50px) {
  .animate-marquee {
    animation-duration: 35s;
  }
}

@media (max-width: 50px) {
  .animate-marquee {
    animation-duration: 45s;
  }
}
